    {{ form_start(formPlaylist) }}
        <div class="row">
            {{ form_row(formPlaylist.name) }}
            <br>
            {{ form_row(formPlaylist.description) }}
            <br>
            {{ form_row(formPlaylist.formations) }}
            <h5>⚠️ Une formation ne peut être rattaché qu'a une playlist⚠️</h5>
            <br />
            <br />
            {{ form_row(formPlaylist.submit, {'attr': {'onclick': 'return confirm(Etes-vous sûr?")'}}) }}
        </div>
    {{ form_end(formPlaylist) }}