    {{ form_start(formPlaylist) }}
        <div class="row">
            {{ form_row(formPlaylist.name) }}
            <br>
            {{ form_row(formPlaylist.description) }}
            <br>
            {{ form_row(formPlaylist.formations, {'attr': {'size': 15}}) }}
            <h5>⚠️ Une formation ne peut être rattaché qu'a une playlist⚠️</h5>
            <br />
            <br />
            {{ form_row(formPlaylist.submit, {'attr': {'onclick': 'return confirm(Etes-vous sûr?")'}}) }}
        </div>
    {{ form_end(formPlaylist) }}
    {% if playlist.id != null %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ path('admin.playlist.edit', {id:playlist.id }) }}" class="btn btn-warning me-md-2">
                Annuler
            </a>
            <a href="{{ path('admin.playlist.suppr', {id:playlist.id }) }}" 
                class="btn btn-danger" 
                onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ playlist.name }} ?')">
                Supprimer
            </a>
        </div>
    {% endif %}