{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <div class="text-end">
            {% if app.user %}
                <span class="me-3">{{ app.user.email }}</span>
                <a href="{{ path('logout_keycloak') }}" class="btn btn-danger btn-sm">
                    Se déconnecter
                </a>
            {% endif %}
        </div>
        <!-- titre -->
        <div class="text-left">
            <img src="{{ asset('banniere.jpg') }}" alt="Bannière">
        </div>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.playlists') }}">Playlists</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.categories') }}">Catégories</a>
                    </li> 
                </ul>
            </div>
        </nav>        
    </div>
{% endblock %}